statsmodels
numpy
scipy==1.12
plotly>=5.15
pandas
dash>=2.5
dash_bootstrap_components
scikit-learn
dash_loading_spinners
kaleido
dash_daq
dash_extensions
pyYAML
PyQt5
pyinstaller
versioneer
dash[diskcache]